body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

/* Below is the CSS for the topbanner */
#topbanner {
    height: 150px;
    width: 100%;
    background-color: cyan;
    float: left;
}

#topbannertitle {
    width: 50%;
    height: 100%;
    background-color: cyan;
    float: left;
}

h1 {
    text-align: center;
}

#topcenteredmenu {
	float: left;
	width: 50%;
	overflow: hidden;
	position: relative;
    padding-top: 30px;
}

#topcenteredmenu ul {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}
#topcenteredmenu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%
}
#topcenteredmenu ul li a {
	display: block;
	margin: 0 0 0 1px;
	padding: 3px 10px;
	color: black;
	text-decoration: none;
	line-height: 21px;
}
#topcenteredmenu ul li a:hover {
	background: #369;
	color: #fff;
}
#topcenteredmenu ul li a.active,
#topcenteredmenu ul li a.active:hover{
	color: #fff;
	background: black;
	font-weight: bold;
}

#loginandregistraion {
    width: 50%;
    background-color: cyan;
    float: left;
    text-align: center;
    margin-top: 10px;
}




/* Below is the CSS for the bottombanner */
#bottombanner {
    height: 100px;
    width: 100%;
    background-color: cyan;
    float: left;
}

#bottombannertitle {
    width: 50%;
    background-color: cyan;
    float: left;
}

#botcenteredmenu {
	float: left;
	width: 50%;
	overflow: hidden;
	position: relative;
	bottom: 0;
}

#botcenteredmenu ul {
	clear: left;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: 50%;
	text-align: center;
}
#botcenteredmenu ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%
}
#botcenteredmenu ul li a {
	display: block;
	margin: 0 0 0 1px;
	padding: 3px 10px;
	color: black;
	text-decoration: none;
	line-height: 21px;
}
#botcenteredmenu ul li a:hover {
	background: #369;
	color: #fff;
}
#botcenteredmenu ul li a.active,
#botcenteredmenu ul li a.active:hover{
	color: #fff;
	background: black;
	font-weight: bold;
}


/*Below is the CSS for the content section */
#content {
    width: 100%;
    background-color: grey;
    min-height: 500px;
}

#leftcolumn{
    float: left;
    height: auto;
    width: 25%;
    background-color: lightblue;
    min-height: 500px;
}

#middlecolumn{
    float: left;
    height: auto;
    width: 50%;
    background-color: lightcoral;
    min-height: 500px;
}

#rightcolumn{
    float: left;
    height: auto;
    width: 25%;
    background-color: lightgreen;
    min-height: 500px;
}

#weatherAPI {
    height: 100px;
    width: 75%;
    background-color: white;
    margin: 10px auto 10px auto;
}

#newsAPI {
    height: 200px;
    width: 75%;
    background-color: white;
    margin: 10px auto 10px auto;
}

#googlesearch {
    height: 100px;
    width: 75%;
    background-color: white;
    margin: 10px auto 10px auto;
}