<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- change title for each page!-->
  <title>AutoPal Financial - Budget Assistant</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexstyle.css') }}">
  <script async src="https://cse.google.com/cse.js?cx=b95d94f88c50da04f"></script>

</head>

<body>
	
	<!--div for top banner-->
	<div id="topbanner">
		<div id="topbannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">		
			<h1 class="title">AutoPal Financial</h1>
		</div>
		<div id="topcenteredmenu">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a href="./calculator">Calculator</a></li>
				<li><a class="active" href="./budgetassistant">Budget Assistant</a></li>

			</ul>	
		</div>
	</div>
	<!--div for content-->
	<div id="content">
		<div id="leftcolumn_budgetassistant">
				<div id="weatherAPI">
					<p id="city">{{ weatherinfo[5] }}</p>
					<hr>
					<p id="temp">{{ weatherinfo[0] }}&#176;F</p>
					<p id="feels">feels like {{ weatherinfo[1] }}&#176;F</p>
					<p id="weather">Currently: {{ weatherinfo[4] }}</p>
					<p id="extra">Humidity: {{ weatherinfo[2] }} &emsp; Dewpoint: {{ weatherinfo[3] }}</p>
				</div>
				<div id="googlesearch">
					<div class="gcse-search"></div>
				</div>
			<ul class = "weatherAPI"><li>The weather API takes information from the user and then calculates their rough location. It then calls an API to get the local weather information using found location.</ul>
			<ul class = "weatherAPI"><li>The Google Search API allows users to search for just about anything using Google's Programmable Search.</ul>		</div>
		<div id="middlecolumn_budgetassistant">
			<div id="calcAPP">
				<div class="contentTitle">
				<h3>Budget Assistant</h3>
				</div>
				<form name="form" action="" method="post">
					{{  form.hidden_tag()  }}

					<br><br><b>Monthly Income</b><br><br>

					{{  form.monthly_income1.label ( class = 'label')  }}
					{% set f = form.monthly_income1.process_data(0) %}
					{% if form.monthly_income1.errors %} 
						{{  form.monthly_income1 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_income1.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_income1( class = 'textbox') }}<br><br>
                    {% endif %}
					

					{{  form.monthly_income2.label ( class = 'label')  }}
					{% set f = form.monthly_income2.process_data(0) %}
					{% if form.monthly_income2.errors %} 
						{{  form.monthly_income2 ( class = 'textbox')  }}<br>
						<div class="isa_error">
							{% for error in form.monthly_income2.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_income2( class = 'textbox') }}<br><br>
                    {% endif %}

					<br><br><b>Annual Income</b><br><br>

					{{  form.annual_income1.label ( class = 'label') }}
					{% set f = form.annual_income1.process_data(0) %}
					{% if form.annual_income1.errors %} 
						{{  form.annual_income1 ( class = 'textbox')  }}<br>
						<div class="isa_error">
							{% for error in form.annual_income1.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.annual_income1( class = 'textbox') }}<br><br>
                    {% endif %}

					{{  form.annual_income2.label ( class = 'label') }}
					{% set f = form.annual_income2.process_data(0) %}
					{% if form.annual_income2.errors %} 
						{{  form.annual_income2 ( class = 'textbox')  }}<br>
						<div class="isa_error">
							{% for error in form.annual_income2.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.annual_income2 ( class = 'textbox') }}<br><br>
                    {% endif %}

					<br><br><b>Monthly Savings</b><br><br>

					{{  form.monthly_savings1.label ( class = 'label') }}
					{% set f = form.monthly_savings1.process_data(0) %}
					{% if form.monthly_savings1.errors %} 
						{{  form.monthly_savings1  ( class = 'textbox')}}<br>
						<div class="isa_error">
							{% for error in form.monthly_savings1.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_savings1 ( class = 'textbox') }}<br><br>
                    {% endif %}

					{{  form.monthly_savings2.label ( class = 'label') }}
					{% set f = form.monthly_savings2.process_data(0) %}
					{% if form.monthly_savings2.errors %} 
						{{  form.monthly_savings2 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_savings2.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_savings2( class = 'textbox') }}<br><br>
                    {% endif %}

					{{  form.monthly_savings3.label ( class = 'label') }}
					{% set f = form.monthly_savings3.process_data(0) %}
					{% if form.monthly_savings3.errors %} 
						{{  form.monthly_savings3 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_savings3.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_savings3 ( class = 'textbox')}}<br><br>
                    {% endif %}

					<br><br><b>Monthly Expenses</b><br><br>

					{{  form.monthly_debt1.label ( class = 'label') }}
					{% set f = form.monthly_debt1.process_data(0) %}
					{% if form.monthly_debt1.errors %} 
						{{  form.monthly_debt1 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_debt1.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_debt1 ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.monthly_debt2.label ( class = 'label') }}
					{% set f = form.monthly_debt2.process_data(0) %}
					{% if form.monthly_debt2.errors %} 
						{{  form.monthly_debt2 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_debt2.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_debt2 ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.monthly_debt3.label ( class = 'label') }}
					{% set f = form.monthly_debt3.process_data(0) %}
					{% if form.monthly_debt3.errors %} 
						{{  form.monthly_debt3 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_debt3.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_debt3 ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.monthly_debt4.label ( class = 'label') }}
					{% set f = form.monthly_debt4.process_data(0) %}
					{% if form.monthly_debt4.errors %} 
						{{  form.monthly_debt4 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_debt4.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_debt4 ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.monthly_debt5.label ( class = 'label') }}
					{% set f = form.monthly_debt5.process_data(0) %}
					{% if form.monthly_debt5.errors %} 
						{{  form.monthly_debt5 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_debt5.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_debt5( class = 'textbox') }}<br><br>
                    {% endif %}

					{{  form.monthly_debt6.label ( class = 'label') }}
					{% set f = form.monthly_debt6.process_data(0) %}
					{% if form.monthly_debt6.errors %} 
						{{  form.monthly_debt6 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_debt6.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_debt6 ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.monthly_debt7.label ( class = 'label') }}
					{% set f = form.monthly_debt7.process_data(0) %}
					{% if form.monthly_debt7.errors %} 
						{{  form.monthly_debt7 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.monthly_debt7.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.monthly_debt7 ( class = 'textbox')}}<br><br>
                    {% endif %}

					<br><br><b>Annual Expenses</b><br><br>

					{{  form.annual_debt1.label ( class = 'label') }}
					{% set f = form.annual_debt1.process_data(0) %}
					{% if form.annual_debt1.errors %} 
						{{  form.annual_debt1  ( class = 'textbox')}}<br>
						<div class="isa_error">
							{% for error in form.annual_debt1.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.annual_debt1 ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.annual_debt2.label ( class = 'label') }}
					{% set f = form.annual_debt2.process_data(0) %}
					{% if form.annual_debt2.errors %} 
						{{  form.annual_debt2 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.annual_debt2.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.annual_debt2( class = 'textbox') }}<br><br>
                    {% endif %}

					{{  form.annual_debt3.label ( class = 'label') }}
					{% set f = form.annual_debt3.process_data(0) %}
					{% if form.annual_debt3.errors %} 
						{{  form.annual_debt3 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.annual_debt3.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.annual_debt3 ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.annual_debt4.label ( class = 'label') }}
					{% set f = form.annual_debt4.process_data(0) %}
					{% if form.annual_debt4.errors %} 
						{{  form.annual_debt4 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.annual_debt4.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.annual_debt4 ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.annual_debt5.label ( class = 'label') }}
					{% set f = form.annual_debt5.process_data(0) %}
					{% if form.annual_debt5.errors %} 
						{{  form.annual_debt5 ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.annual_debt5.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.annual_debt5( class = 'textbox') }}<br><br>
                    {% endif %}

	  
					{{ form.submit(class="submit") }}<br><br>

					<b>Debt to Income Summary</b>
					<p>Your debt to income ratio is <b>{{ "{:,.2f}".format(dti) }}%</b>, leaving you at DTI 
						{%if tier1%}
							<b class = "tier1">Tier {{ dti_tier }}</b> </p>
						{% elif tier2 %}
							<b class = "tier2">Tier {{ dti_tier }}</b> </p>
						{% elif tier3%}
							<b class = "tier3">Tier {{ dti_tier }}</b> </p>
						{% else %}
						<b>Tier {{ dti_tier }}</b> </p>
						{% endif %}

					
					<ui class = 'dti_text'>{{ dti_text  }}</ul><br>

				</form>	

				
			</div>
		</div>
		<div id="rightcolumn_budgetassistant">
			<div id="newsAPI">
				<p id="newstitle">Recent News</p>
				<hr>
				<p id="newslink"><a href="{{ newsinfo[2] }}">{{ newsinfo[1] }}</a></p>
				<p id="newsextra">by {{ newsinfo[0] }} on {{ newsinfo[3] }}</p>
				
				<p id="newslink"><a href="{{ newsinfo[6] }}">{{ newsinfo[5] }}</a></p>
				<p id="newsextra">by {{ newsinfo[4] }} on {{ newsinfo[7] }}</p>
				
				<p id="newslink"><a href="{{ newsinfo[10] }}">{{ newsinfo[9] }}</a></p>
				<p id="newsextra">by {{ newsinfo[8] }} on {{ newsinfo[11] }}</p>	
			</div>
			<ul class = "newsAPI"><li>The news API searches the most recent articles across a few common news websites and returns three articles that have to do with anything relating to finance.</li></ul>

		</div>	
	</div>

	<!-- div for bottom banner-->
	<div id="bottombanner">
		<div id="bottombannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">		
			<h2 class="title">AutoPal Financial</h1>
		</div>
		<div id="botcenteredmenu">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a class="active" href="./calculator">Calculator</a></li>
				<li><a href="./budgetassistant">Budget Assistant</a></li>
			</ul>	
		</div>
	</div>
 </body>
</html>
