<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- change title for each page!-->
  <title>AutoPal Financial - Calculator</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexstyle.css') }}">
  <script async src="https://cse.google.com/cse.js?cx=b95d94f88c50da04f"></script>

</head>

<body>
	<!--div for top banner-->
	<div id="topbanner">
		<div id="topbannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">		
			<h1 class="title">AutoPal Financial</h1>
		</div>
		<div id="topcenteredmenu">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a class="active" href="./calculator">Calculator</a></li>
				<li><a href="./budgetassistant">Budget Assistant</a></li>
			</ul>	
		</div>
	</div>
	<!--div for content-->
	<div id="content">
		<div id="leftcolumn">
				<div id="weatherAPI">
					<p id="city">{{ weatherinfo[5] }}</p>
					<hr>
					<p id="temp">{{ weatherinfo[0] }}&#176;F</p>
					<p id="feels">feels like {{ weatherinfo[1] }}&#176;F</p>
					<p id="weather">Currently: {{ weatherinfo[4] }}</p>
					<p id="extra">Humidity: {{ weatherinfo[2] }} &emsp; Dewpoint: {{ weatherinfo[3] }}</p>
				</div>
				<div id="googlesearch">
					<div class="gcse-search"></div>
				</div>

			<ul class = "weatherAPI"><li>The weather API takes information from the user and then calculates their rough location. It then calls an API to get the local weather information using found location.</ul>
			<ul class = "weatherAPI"><li>The Google Search API allows users to search for just about anything using Google's Programmable Search.</ul>

		</div>
		<div id="middlecolumn">
			<div id="calcAPP">
				<div class="contentTitle">
				<h3>Loan Calculator</h3>
				</div>
				<form name="form" action="" method="post">
					{{  form.hidden_tag()  }}
					
					{{  form.loan_amount.label  ( class = 'label')}}
					{% set f = form.loan_amount.process_data(0) %}
					{% if form.loan_amount.errors %} 
						{{  form.loan_amount ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.loan_amount.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.loan_amount ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.interest.label  ( class = 'label')}}
					{% set f = form.interest.process_data(0) %}
					{% if form.interest.errors %} 
						{{  form.interest ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.interest.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        %{{ form.interest( class = 'textboxpercent')}}<br><br>
                    {% endif %}

					{{  form.months.label  ( class = 'label')}}
					{% set f = form.months.process_data(0) %}
					{% if form.months.errors %} 
						{{  form.months  ( class = 'textbox')}}<br>
						<div class="isa_error">
							{% for error in form.months.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        {{ form.months ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.city.label  ( class = 'label')}}

					{% if form.city.errors %} 
						{{  form.city  ( class = 'textbox')}}<br>
						<div class="isa_error">
							{% for error in form.city.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        {{ form.city ( class = 'textbox')}}<br><br>
                    {% endif %}
					
	  
					{{ form.submit(class="submit") }}<br><br>
					<b>Amortization Summary</b>
					<div class = "amortizationText">
						<p>Base Price: ${{ "{:,.2f}".format(base_price) }}</p>
						<p>Tax Rate ({{ city }}): {{ tax_rate }}%</p>
						<p>Total Finance Amount: ${{ "{:,.2f}".format(total_price) }}</p>
						<p>Number of Payments: {{ total_payments }}</p>
						<p>Monthly Payments: ${{ "{:,.2f}".format(monthly_payment) }}</p>
						<p>Final Payment: ${{ "{:,.2f}".format(last_payment) }}</p>
						<p>Finance Charge: ${{ "{:,.2f}".format(interest_charge) }}</p>
						<p>Final Amount Paid: ${{ "{:,.2f}".format(final_amount) }}</p>
					</div>
				</form>	
			</div>
		</div>
		<div id="rightcolumn">
			<div id="newsAPI">
				<p id="newstitle">Recent News</p>
				<hr>
				<p id="newslink"><a href="{{ newsinfo[2] }}">{{ newsinfo[1] }}</a></p>
				<p id="newsextra">by {{ newsinfo[0] }} on {{ newsinfo[3] }}</p>
				
				<p id="newslink"><a href="{{ newsinfo[6] }}">{{ newsinfo[5] }}</a></p>
				<p id="newsextra">by {{ newsinfo[4] }} on {{ newsinfo[7] }}</p>
				
				<p id="newslink"><a href="{{ newsinfo[10] }}">{{ newsinfo[9] }}</a></p>
				<p id="newsextra">by {{ newsinfo[8] }} on {{ newsinfo[11] }}</p>	
			</div>
			<ul class = "newsAPI"><li>The news API searches the most recent articles across a few common news websites and returns three articles that have to do with anything relating to finance.</li></ul>

		</div>	
	</div>

	<!-- div for bottom banner-->
	<div id="bottombanner">
		<div id="bottombannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">		
			<h2 class="title">AutoPal Financial</h1>
		</div>
		<div id="botcenteredmenu">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a class="active" href="./calculator">Calculator</a></li>
				<li><a href="./budgetassistant">Budget Assistant</a></li>
			</ul>	
		</div>
	</div>
 </body>
</html>
