<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- change title for each page!-->
  <title>AutoPal Calculator</title>

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexstyle.css') }}">

</head>

<body>
	<!--div for top banner-->
	<div id="topbanner">
		<div id="topbannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">		
			<h1 class="title">AutoPal Financial</h1>
		</div>
		<div id="topcenteredmenu">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a class="active" href="./calculator">Calculator</a></li>
				<li><a href="./budgetassistant">Budget Assistant</a></li>
			</ul>	
		</div>
	</div>
	<!--div for content-->
	<div id="content">
		<div id="leftcolumn">
				<div id="weatherAPI">
					weather API
				</div>
				<div id="googlesearch">
					google search
				</div>
		</div>
		<div id="middlecolumn">
			<div id="calcAPP">
				<div class="contentTitle">
				<p>Loan Calculator</p>
				</div>
				<form name="form" action="" method="post">
					{{  form.hidden_tag()  }}
					
					{{  form.loan_amount.label  ( class = 'label')}}
					
					{% if form.loan_amount.errors %} 
						{{  form.loan_amount ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.loan_amount.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        ${{ form.loan_amount ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.interest.label  ( class = 'label')}}
					
					{% if form.interest.errors %} 
						{{  form.interest ( class = 'textbox') }}<br>
						<div class="isa_error">
							{% for error in form.interest.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        %{{ form.interest( class = 'textboxpercent')}}<br><br>
                    {% endif %}

					{{  form.months.label  ( class = 'label')}}

					{% if form.months.errors %} 
						{{  form.months  ( class = 'textbox')}}<br>
						<div class="isa_error">
							{% for error in form.months.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        {{ form.months ( class = 'textbox')}}<br><br>
                    {% endif %}

					{{  form.city.label  ( class = 'label')}}

					{% if form.city.errors %} 
						{{  form.city  ( class = 'textbox')}}<br>
						<div class="isa_error">
							{% for error in form.city.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        {{ form.city ( class = 'textbox')}}<br><br>
                    {% endif %}
					
	  
					{{ form.submit(class="submit") }}<br><br>
					<b>Amortization Summary</b>
					<p>Base Price: ${{ "{:,.2f}".format(base_price) }}</p>
					<p>Tax Rate ({{ city }}): {{ tax_rate }}%</p>
					<p>Total Price and Finance Amount: ${{ "{:,.2f}".format(total_price) }}</p>
					<p>Number of Payments: {{ total_payments }}</p>
					<p>Monthly Payments: ${{ "{:,.2f}".format(monthly_payment) }}</p>
					<p>Final Payment: ${{ "{:,.2f}".format(last_payment) }}</p>
					<p>Finance Charge: ${{ "{:,.2f}".format(interest_charge) }}</p>
					<p>Final Amount Paid: ${{ "{:,.2f}".format(final_amount) }}</p>
					
				</form>	
			</div>
		</div>
		<div id="rightcolumn">
			<div id="newsAPI">
				news API	
			</div>
		</div>	
	</div>

	<!-- div for bottom banner-->
	<div id="bottombanner">
		<div id="bottombannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">		
			<h2 class="title">AutoPal Financial</h1>
		</div>
		<div id="botcenteredmenu">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a class="active" href="./calculator">Calculator</a></li>
			</ul>	
		</div>
	</div>
 </body>
</html>
