<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- change title for each page!-->
  <title>AutoPal Register</title>
  

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexstyle.css') }}">
	


</head>

<body>
	<!--div for top banner-->
	<div id="topbanner">
		<div id="topbannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">
			<h1 class="title">AutoPal Financial</h1>
		</div>
		<div id="topcenteredmenu">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a class="active" href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a href="./calculator">Calculator</a></li>
				<li><a href="./budgetassistant">Budget Assistant</a></li>
			</ul>	
		</div>
	</div>
	<!--div for content-->
	<div id="content">
		<div id="leftcolumn">
				<div id="weatherAPI">
					weather API
				</div>
				<div id="googlesearch">
					google search
				</div>
		</div>
		<div id="middlecolumn">
			<div class="contentTitle">
				<p>Registration</p>
			</div>
			<div id="registration">
			<!--maybe use flask based login system instead of this? need to research if applicable-->
				<form name="form" action="" method="post">
					{{  form.hidden_tag()  }}
					
					{{  form.email.label  }}<br>
					
					{% if form.email.errors %} 
						{{  form.email  }}<br>
						<div class="isa_error">
							{% for error in form.email.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        {{ form.email }}<br><br>
                    {% endif %}


					{{  form.username.label  }}<br>
					
					{% if form.username.errors %} 
						{{  form.username  }}<br>
						<div class="isa_error">
							{% for error in form.username.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        {{ form.username }}<br><br>
                    {% endif %}
					

					{{  form.password.label  }}<br>
					
					{% if form.password.errors %} 
						{{  form.password  }}<br>
						<div class="isa_error">
							{% for error in form.password.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        {{ form.password }}<br><br>
                    {% endif %}


					{{  form.confirm_password.label  }}<br>
					
					{% if form.confirm_password.errors %} 
						{{  form.confirm_password  }}<br>
						<div class="isa_error">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }} </span><br>
							{% endfor %}
						</div>
					{% else %}
                        {{ form.confirm_password }}<br><br>
                    {% endif %}

	  
					{{ form.submit(class="submit") }}<br>

					<small class="grayout">
						Already Have An Account? <a href="{{ url_for('login') }}">Sign In</a>
					</small>
				</form>
			</div>	
		</div>
		<div id="rightcolumn">
			<div id="newsAPI">
				news API	
			</div>
		</div>	
	</div>

	<!-- div for bottom banner-->
	<div id="bottombanner">
		<div id="bottombannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">
			<h2 class="title">AutoPal Financial</h1>
		</div>
		<div id="botcenteredmenu">
			<ul>
				<li><a href="./">Home</a></li>
				<li><a class="active" href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a href="./calculator">Calculator</a></li>
			</ul>	
		</div>
	</div>
 </body>
</html>
