<html lang="en">
<head>
  <meta charset="utf-8">

  <!-- change title for each page!-->
  <title>AutoPal Financial</title>
  <meta name="description" content="AutoPal Financial - Home">
  <meta name="author" content="Weston">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexstyle.css') }}">
   <!--Weston Thai, Thomas West-->

</head>

<body>
	<!--div for top banner-->
	<div id="topbanner">
		<div id="topbannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">
			<h1 class="title">AutoPal Financial</h1>
		</div>
		<div id="topcenteredmenu">
			<ul>
				<li><a class="active" href="./">Home</a></li>
				<li><a href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a href="./calculator">Calculator</a></li>
			</ul>	
		</div>
	</div>
	<!--div for content-->
	<div id="content">
		<div id="leftcolumn">
				<div id="weatherAPI">
					weather API
				</div>
				<div id="googlesearch">
					google search
				</div>
		</div>
		<div id="middlecolumn">
			<div class="contentTitleFlash">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
				  		{% for category, message in messages %}
							<div class="{{ category }}">
					  			{{ message }}
							</div>
				  		{% endfor %}
					{% endif %}
			  	{% endwith %}
			</div>
			<div class="contentTitle">
				<p>Welcome to AutoPal Financial!</p>
			</div>
			<div id="hometext">
				<p>### Explain what the website does here. add links as necessary ###</p>
			</div>
		</div>
		<div id="rightcolumn">
			<div id="newsAPI">
				news API	
			</div>
		</div>	
	</div>

	<!-- div for bottom banner-->
	<div id="bottombanner">
		<div id="bottombannertitle">
			<img class="img" src="/static/images/AutoPal_Financial-logos_transparent.png">
			<h2 class="title">AutoPal Financial</h1>
		</div>
		<div id="botcenteredmenu">
			<ul>
				<li><a class="active" href="./">Home</a></li>
				<li><a href="./registration">Register</a></li>
				<li><a href="./login">Login</a></li>
				<li><a href="./calculator">Calculator</a></li>
			</ul>	
		</div>
	</div>
 </body>
</html>
