<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Auto Pal Finance</title>
  <meta name="description" content="San Francisco 101 - Home">
  <meta name="author" content="Weston">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/indexstyle.css') }}">
 <!--Weston Thai, Thomas West-->

</head>

<body>
	<!--div for top banner-->
	<div id="topbanner">
		<div id="topbannertitle">
			<h1>AutoPal Financial</h1>
		</div>
		<div id="topcenteredmenu">
			<ul>
				<li><a class="active" href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#blog">Blog</a></li>
				<li><a href="#news">News</a></li>
				<li><a href="#contact">Contact Us</a></li>
			</ul>	
		</div>
		<div id="loginandregistraion">
			<a class="active" href="#Login">Login</a>
			<a class="active" href="#home">Register</a>
		</div>	
	</div>
	<!--div for content-->
	<div id="content">
		<div id="leftcolumn">
				<div id="weatherAPI">
					weather API
				</div>
				<div id="googlesearch">
					google search
				</div>
		</div>
		<div id="middlecolumn">
				
	
		</div>
		<div id="rightcolumn">
			<div id="newsAPI">
				news API	
			</div>
		</div>	
	</div>

	<!-- div for bottom banner-->
	<div id="bottombanner">
		<div id="bottombannertitle">
			<h2>AutoPal Financial</h1>
		</div>
    	<div id="botcenteredmenu">
			<ul>
				<li><a class="active" href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#blog">Blog</a></li>
				<li><a href="#news">News</a></li>
				<li><a href="#contact">Contact Us</a></li>
			</ul>
		</div>
	</div>
 </body>
</html>
